<div class="footer">
    <div class="container">
        <ul class="footer-ul">
            <li>
                <ul class="footer-nav">
                    <li class="nav-li">首頁</li>
                    <li class="nav-li">系列鏡框</li>
                    <li class="nav-li">門市據點</li>
                    <li class="nav-li">部落格</li>
                    <li class="nav-li">常見問題</li>
                </ul>
                <li>
                    <img class="icon" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="fb icon">
                    <img class="icon" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="instagram icon">
                    <img class="icon" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="line icon">
                </li>
            </li>
        </ul>
        <p class="info"><span class="material-icons-outlined">call</span>
            0800-000-000</p>
        <p class="info bb"><span class="material-icons-outlined">email</span>glasses@business.com</p>
        <ul>
            <li>
                <p class="copyright">Copyright © 2020 Glasses.All rights reserved.</p>
            </li>
            <ul>
                <li>隱私權政策</li>
                <li>服務條款</li>
            </ul>
        </ul>
    </div>
</div> 