<div class="header">
    <div class="header-wrap container">
        <h1><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo"></h1>
        <ul class="header-ul">
            <li class="header-li">系列鏡框</li>
            <li class="header-li">門市據點</li>
            <li class="header-li">部落格</li>
            <li class="header-li">常見問題</li>
        </ul>
    </div>
</div>