<div class="header">
    <h1><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo"></h1>
    <ul>
        <li>系列鏡框</li>
        <li>門市據點</li>
        <li>部落格</li>
        <li>常見問題</li>
    </ul>
</div>