.classic{
    padding: 80px 0;
    text-align: center;
    h3{
        color:$dark-red;
        font-size: 48px;
        font-weight: 700;
        padding-bottom: 48px;
    }
}
.classic-ul{
    display: flex;
    justify-content: space-between;
}
.classic-li{
    padding: 0 12px;
    img{
        width: 100%;
        height: 416px;
        padding-bottom: 8px;
        object-fit: cover;
    }
    img:hover{
        transform: scale(1.2);
    }
    p{
        font-size: 48px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: italic;
    }
    a{
        color:$primary;
    }
    a:hover{
        font-size: 36px;
    }
}
.classic-pic-wrap{
    width: 100%;
    height: 410px;
    overflow: hidden;
}