<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet">
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="filter container">
        <ul class="filter-ul">
            <li class="filter-li bbr"><a href="#">OPTICAL</a></li>
            <li class="filter-li"><a href="#">SUNGLASSES</a></li>
            <li class="filter-li"><a href="#">FUNCTIONAL</a></li>
        </ul>
    </div>
    <div class="page-banner">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true" alt="glasses1">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true" alt="glasses2">
    </div>
    <div class="combi container">
        <h3>Celluloid Combi</h3>
        <p class="combi-p">賽璐珞鈦金屬混合鏡框</p>
        <ul class="combi-d-flex">
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="product1"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="product2"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="product3"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="product4"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="product5"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="product6"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="product7"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="product8"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="product9"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="product10"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="product11"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
            <li>
                <div class="combi-pic-wrap">
                    <a href="#"><img class="combi-product" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="product12"></a>
                </div>
                <div class="info">
                    <p class="product-name">BJ41600S</p>
                    <p class="price">NTD3,490</p>
                </div>
                <div class="color">
                    <p class="brown"></p>
                    <p class="earthy"></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="page container">
        <ul class="page-ul">
            <a class="white" href="#"><li class="pre">上一頁</li></a>
            <a class="white" href="#"><li>1</li></a>
            <a class="page-default" href="https://shengyht.github.io/Week4/product-2.html"><li>2</li></a>
            <a class="white" href="#"><li>3</li></a>
            <a class="white" href="#"><li>4</li></a>
            <a class="white" href="#"><li>5</li></a>
            <a class="white" href="#"><li class="next">下一頁</li></a>
        </ul>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>
